# safety
!.gitkeep

# post
commands/post/*
!commands/post/.gitkeep

# private
commands/_private/*
!commands/_private/.gitkeep

# ames
commands/assets/ames/*
!commands/assets/ames/.gitkeep

# twitter cache
commands/twitter/twitterconfig.json
commands/twitter/guilds.json
commands/twitter/cache/*
!commands/twitter/cache/.gitkeep

# guild perm
commands/_config/guild/*
!commands/_config/guild/.gitkeep

# shen
commands/assets/shen/other/_config.json
commands/assets/shen/other/static
commands/assets/shen/other/temp.png
commands/assets/shen/other/temp.jpeg
commands/assets/shen/other/temp.gif

# other
commands/_config/override.json
commands/_config/cbtag.json
commands/_config/pins.json
commands/hatsune_data/alias_local.json
__pycache__
old/*
.vscode
todo
*.pickle
