# safety
!.gitkeep

# private
data/_private/*

# configs
data/_configs/guilds/*

data/_hatsune/cb/guilds/*
data/_hatsune/cb/queues/*
data/_hatsune/data/chara_data_OLD.json
data/_hatsune/data/alises_local.json
data/_hatsune/data/gacha/gresult.jpg


data/_twitter/cache/*
data/_twitter/guilds/*
data/_twitter/listeners.json



__pycache__
.vscode
ames_config_override.json
ames_nextcord.log
