aiohttp
astroid
async-timeout
attrs
certifi
chardet
colorama
discord
discord.py
idna
isort
lazy-object-proxy
mccabe
multidict
mysql-connector
Pillow
pylint
requests
six
typed-ast
urllib3
websockets
wrapt
yarl
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fleep
imgur-python